.divTable1{
	display: table;
	margin:250px;
}
.divTable2{
	display: table;
	margin-top:50px;
	margin-left:150px;
}
.row {
	display: table-row;
}
.cell{
	border: 0.3em solid #999999;
	display: table-cell;
	padding: 5px 10px;
}
.tbody {
	display: table-row-group;
}
.Left{
	width: 50%;
    float:left;
}
.Right{
    width:50%;
    float:right;
}
.container{
    width:100%;
}
.scells{
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 5px;
}
#counter{
	font-size:300%;
	padding-top:10%;
	padding-left: 40%;
}