.divTable1{
	display: table;
	margin:250px;
}
.divTable2{
	display: table;
	margin-top:50px;
	margin-left:150px;
}
.sira {
	display: table-row;
}
.hucre{
	border: 0.3em solid #999999;
	display: table-cell;
	padding: 5px 10px;
}
.tbody {
	display: table-row-group;
}
.Sol{
	width: 50%;
    float:left;
}
.Sag{
    width:50%;
    float:right;
}
.container{
    width:100%;
}
.shucre{
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 5px;
}
